{% extends 'layout.html' %}
{% block body %}

  <section id="main">
    <div class="container">
        <br><br><br>
        <h2>About</h1>
        <p>
            Privacy Policies are the legal documents that describethe  practices  that  an  organization  or  company  hasadopted in the handling of personal data of its users.About  201  hours  on  average  are  needed  to  read  allthe  privacy  policies  encountered  by  a  user  in  a  year[1]. But as policies are a legal document, they are of-ten written in extensive legal jargon that is difficult to understand.
            As a result, consumers don’t fully understand what they aresigning up for and often do not know whether thepolicies that they are agreeing to are infringing on theirlegal rights.
        </p>
        <br>
        <p>
            Fine Print enables you to quickly and efficiently analyze your privacy policies in a matter of seconds.
            Just enter the policy, select a law and you're done!!!
        </p>
        <br>
        <br>
        <h3>Got still more questions?</h3>
        <p2>Reach out to us at info@fineprint.com</p2>
    </div>
  </section>

  {% endblock %}