{% extends 'layout.html' %}
{% block body %}
    <section id="main">
        <div class="container">
            <bR>
            <label class = "compLabel">Total Compliance with the GDPR:</label>
            <div class = "container-img-main">
                <img src={{imageNames.CompScore}}>
                <div class="centered-main">{{complianceResults.compliance}}</div>
            </div>
       


        <article id="main-col">
            <h1 class="page-title">Details</h1>
            <ul id="comp-html">

              <li>
                <h3 title="Customers should know the information that is being collected about them. Organizations also need to Justify why they need to collect it.">Specify and Justify Data being Collected:</h3>
                <div class = "container-img">
                    <img src={{imageNames.GDPR1}}>
                    <div class="centered"><h3>{{complianceResults.GDPR1}}</h3></div>
                    <img src="../static/img/membership.png" alt="Data being collected" class = "image-compliance">       
                    <br>
                </div>
                      
              </li>

              <li>
                <h3 title= " The organisation must inform the customer of the lawful rights it  has to process personal data. Processing is legal if the customer has given consent, or if it is sued to protect the interests of a person">How Data Will Be Processed:</h3>              
                    <div class = "container-img">
                        <img src={{imageNames.GDPR2}}>
                        <div class="centered"><h3>{{complianceResults.GDPR2}}</h3></div>
                        <img src="../static/img/processed.png" alt="how data being processed" class = "image-compliance">
                        <br>
                    </div>
             </li>

              <li>
                <h3 title="GDPRdictates that data should be held for the minimum amount of time, and organisations must state how long data is retained">How Long Data Will Be Retained:</h3>
                <div class = "container-img">
                    <img src={{imageNames.GDPR3}}>
                    <div class="centered"><h3>{{complianceResults.GDPR3}}</h3></div>
                    <img src="../static/img/retention.png" alt="Data retention" class = "image-compliance">       
                    <br>
                </div>
                      
              </li>

              <li>
                <h3 title=" People have the right for all their data, (1) to be forgotten, and (2) to be provided to them. To facilitate this, contact details must be provided in the policy ">Contact Information for Data Querries:</h3>
                <div class = "container-img">
                    <img src={{imageNames.GDPR4}}>
                    <div class="centered"><h3>{{complianceResults.GDPR4}}</h3></div>
                    <img src="../static/img/person.png" alt="contact info" class = "image-compliance">       
                    <br>
                </div>
                <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
              </li>
        
            </ul>
          </article>
        </div> <!--container ends-->
    </section> <!--main ends-->

    

  {% endblock %}