<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Complaince of privacy policies">
	  <meta name="keywords" content="privacy policies, GDPR, Data protection">
    <title>Fine Print | Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet"  href= "{{ url_for('static',filename='styles/styles.css') }}">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

</head>
<body>
    {% include 'includes/_header.html' %}
    {% include 'includes/_messages.html' %}
    {% block body %}{% endblock %}

    <div class = "space">
        <footer>
            <div class = "logos">
            <img src="../static/img/fb.png">
            </div>
            <p>Fine Print, Copyright &copy; 2020     <a href="#">Privacy policy</a> </p>
        </div>
        </footer>
    </div>
    
</body>
</html>