{% extends 'layout.html' %}
{% block body %}

  <section id="main">
    <div class="container">
        <br><br><br>
        <h2>HELP Documentation</h1>
        <p>
            To check the conformity of your privacy policy with Data Protection laws, simply enter the policy and select the law, and voila! With one click you'll find its compliance.
        </p>
        <br>
        <br>
        <h3>How else we may help you?</h3>
        <p2>Reach out to us at info@fineprint.com</p2>
    </div>
  </section>

  {% endblock %}